@import url("styles/header.css");
@import url("styles/introduction.css");
@import url("styles/html.css");
@import url("styles/css.css");
@import url("styles/footer.css");

:root {
    --green-muffin: #7CD14Cff;
    --blue-muffin: #4C92D1ff;
    --orange-muffin: #FD9D12ff;
    --red-muffin: #D15A4Cff;
    --yellow-muffin: #FFDE2Bff;
    --black: #000000ff;
    --purple-muffin: #B84CD1ff;
    --white-muffin: #EFF6F7ff;
    --light-blue-muffin: #AAC8CDff;
    --main-font: "Fuzzy Bubbles", cursive;
}

p {
    line-height: 1.2;
}

li {
    line-height: 1.4;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue-muffin);
    font-family: var(--main-font);
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue-muffin);
    font-family: var(--main-font);
    justify-content: space-between;
}

