header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background-color:var(--red-muffin) ;
}

.muffin__title__img {
    width: 5em;
}

.page__title {
    margin: auto;
    font-size: 16px;
}